<header>
  <h1>Siempre Fresca</h1>
  <nav>
    <ul>
      <li><a routerLink="/frutas" routerLinkActive="active">Frutas</a></li>
      <li><a routerLink="/verduras" routerLinkActive="active">Verduras</a></li>
      <li><a routerLink="/frutos-secos" routerLinkActive="active">Frutos Secos</a></li>
      <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
      <li><a routerLink="/hacer-pedido" routerLinkActive="active">Hacer Pedido</a></li>
      <li><a routerLink="/carro-compra" routerLinkActive="active">Carro Compra</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>